<section class="app-contact">
    <div class="field has-addons">
        <p class="control has-icons-left is-expanded">
            <input class="input" type="search" placeholder="Search code or name"
                        #searchText="ngModel" 
                         [(ngModel)]="model.searchText">
            <span class="icon is-small is-left" >
                    <i class="fas fa-search"></i>
            </span>
        </p>
        <button class="button is-primary" title="Search" (click)="search()">
                <span class="icon is-small">
                    <i class="fas fa-search"></i>
                </span>
        </button>        
    </div>
    <div class="buttons">
        <button class="button is-info" title="New Contact" (click)="showAdd(newContactForm)">
                <span class="icon is-small">
                    <i class="fas fa-user-plus"></i>
                </span>
                <span>New Contact</span>
        </button>       
        <button class="button is-danger" title="Delete Contact">
                <span class="icon is-small">
                        <i class="fas fa-user-slash"></i>
                </span>
                <span>Delete</span>
        </button>       
        <button class="button is-success" title="Print Contact">
                <span class="icon is-small">
                        <i class="fas fa-print"></i>
                </span>
                <span>Print Plaque</span>
        </button>
        <button class="button is-warning" title="Print Contact Doc">
                <span class="icon is-small">
                        <i class="fas fa-table"></i>
                </span>
                <span>Print Detail</span>
        </button>
        <button class="button is-warning" title="Export Contact Data">
                <span class="icon is-small">
                        <i class="fas fa-file-export"></i>
                </span>
                <span>Export Data</span>
        </button>
    </div>

    <div>
    <table class="table is-bordered is-striped is-fullwidth is-hoverable">
        <thead>
            <th>Name</th>
            <th>Code</th>
            <th>Print</th>
            <th>Op</th>
        </thead>
        <tbody>
            <tr *ngFor="let contact of model.contacts | async; let i = index" [ngClass]="{'is-selected' : i==model.selectedRow}" (click)="setClickedRow(i)">
                <td>{{contact.Name}}</td>
                <td>{{contact.Code}}</td>
                <td>{{contact.LastPrint}}</td>
                <td>{{contact.IsPrinted}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="modal" id="newContact" [ngClass]="model.showAdd?'is-active':''">
                <div class="modal-background"></div>
                <form #newContactForm="ngForm" name="newContact" (ngSubmit)="false" novalidate>
                <div class="modal-card">
                                
                    <header class="modal-card-head">
                    <p class="modal-card-title">Add New Contact</p>
                    <button class="delete" aria-label="close" (click)="closeAdd()"></button>
                    </header>
                    
                    <section class="modal-card-body">
                        
                                <div class="field">
                                        <label class="label">Contact Name</label>
                                        <div class="control has-icons-left has-icons-right">
                                                <input class="input is-success" type="text" placeholder="Text input" name="newName" required
                                                #newName="ngModel" 
                                                [ngClass]="{ 'is-danger': newContactForm.submitted && newName.invalid }"
                                                [(ngModel)]="model.newName">
                                                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                                        </div>
                                     <p class="help has-text-danger"
                                        *ngIf="newContactForm.submitted && newName.errors?.required">Name is required</p>
                                </div>
                                <div class="field">
                                        <label class="label">Contact Code</label>
                                        <div class="control has-icons-left has-icons-right">
                                                <input class="input is-success" type="text" placeholder="Text input" name="newCode" required
                                                #newCode="ngModel" 
                                                [ngClass]="{ 'is-danger': newContactForm.submitted && newCode.invalid }"
                                                [(ngModel)]="model.newCode">
                                                <span class="icon is-small is-left"><i class="fas fa-code"></i></span>
                                        </div>
                                        <p class="help has-text-danger"                                        
                                                *ngIf="newContactForm.submitted && newCode.errors?.required">Code is required</p>
                                </div>
        
                        
                    </section>
                    <footer class="modal-card-foot">
                    <button class="button is-success" type="button" (click)="addContact()">Add</button>
                    <button class="button" (click)="closeAdd()">Cancel</button>
                    </footer>
                
                </div>
        </form>
            </div>
</section>