<section>
    <article class="message">
        <div class="message-header">
            <p>Import</p>
            <button class="button" (click)="import()">Import</button>
        </div>
        <div class="message-body">
            <p>Format: type, contactcode, livename/deadname/surname, livename, relation</p>
            <p>contact must exist before other data can be imported.</p>
            <p>Example:<br/>
            1. l, L1234, 张三<br/>
            2. d, L1234, 张三, 张四，儿子<br/>
            3. a, L1234, 张, 张四<br/>
            4. c, Z01089, 张三<br/>
            </p>
            <textarea class="textarea" [(ngModel)]="importLines"></textarea>
            <pre>{{importLog}}</pre>
        </div>
    </article>
    <article class="message">
        <div class="message-header">
            <p>Export</p>
        </div>
        <div class="message-body">
            <div class="buttons">
                <button class="button is-info">All Contacts</button>
                <button class="button is-success">All Lives</button>
                <button class="button is-warning">All Deads</button>
                <button class="button is-danger">All Ancesters</button>
            </div>
        </div>
    </article>
    
    
</section>