<section class="app-detail">
    <div class="field has-addons">
        <p class="control has-icons-left is-expanded">
            <input class="input" type="search" placeholder="Search name" [(ngModel)]="model.searchText">
            <span class="icon is-small is-left" >
                    <i class="fas fa-search"></i>
            </span>
        </p>
    </div>
    <div *ngIf="contact.IsPrinted">All names print because contact is in printing</div>
    <div *ngIf="!contact.IsPrinted">Toggle each name for print</div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th *ngFor="let column of columns">
                        {{column.Name}}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr editable-row [data]="model.newItem" [columns]="columns" [isEdit]="true" [isNew]="true" (saveData)="addNewItem($event)"></tr>
                <tr *ngFor="let rowData of data | async | DetailFilter:model.searchText"
                    editable-row [data]="rowData" [columns]="columns" 
                                                  [isContactInPrint]="contact.IsPrinted"
                                                (editData)="setEdit($event)" (deleteData)="deleteData($event)"></tr>
            </tbody>
        </table>
    </div>
</section> 