/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
  }
  nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
  }
  .navbar-item.brand-text {
    font-weight: 300;
  }
  .navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
  }
  .columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }
  
  .footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 3rem;
}