<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../index.html">PlaqueNG</a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="tabs is-right">
            <ul>
                <li><a routerLink="/Contacts" routerLinkActive="active">Contacts</a></li>
                <li><a routerLink="/Print" routerLinkActive="active">Print</a></li>
                <li><a routerLink="/Data" routerLinkActive="active">Data</a></li>
            </ul>
            </div>
            </div> 
        </div>
    </div>
</nav>  