<ng-template [ngIf]="isEdit" [ngIfElse]="viewTemplate">
        <td *ngFor="let column of columns; let i=index">
            <input class="input" type="text" *ngIf="column.IsEditable"
                    [placeholder]="column.Name" 
                    [name]="column.PropertyName" 
                    [(ngModel)]="data[column.PropertyName]"
                    (keyup.enter)="onKeydown($event)"
                    required
                    >
            <span *ngIf="i==0 && isNew">New:</span>
            <span class="has-text-danger">{{data['Error'][column.PropertyName]}}</span>
        </td>
        <td>press enter to add new name</td>
</ng-template>
<ng-template #viewTemplate>
        <td *ngFor="let column of columns">
            <span *ngIf="column.IsEditable">{{data[column.PropertyName]}}</span>
        </td>
        <td>
                <span title="Edit" (click)="edit()"><i class="far fa-edit"></i></span>&nbsp;
                <span title="Save" (click)="save()"><i class="fas fa-sd-card"></i></span>&nbsp;
                <span title="Delete" (click)="delete()"><i class="far fa-trash-alt"></i></span>&nbsp;
                <span title="Print this" (click)="printThis()"><i class="fas fa-print"></i></span>&nbsp;
        </td>
</ng-template>