<section class="container">
    <div *ngIf="!model.Contact.Name">Please select a Contact</div>
    <div *ngIf="model.Contact.Name">
    <div class="is-fullwidth">
        <h1>{{model.Contact.Name}} - {{model.Contact.Code}}</h1>
    </div>
    <div class="tabs is-toggle is-fullwidth">
        <ul>
                <li [ngClass]="tab=='live'||!tab ?'is-active' : ''">
                <a (click)="tab='live'">
                    <span class="icon is-small"><i class="fas fa-user-friends"></i>Lives</span>
                </a>
                </li>
                <li [ngClass]="tab=='dead' ? 'is-active' : ''">
                <a (click)="tab='dead'">
                    <span class="icon is-small"><i class="fas fa-procedures"></i>Deads</span>
                </a>
                </li>
                <li [ngClass]="tab=='ancestor' ? 'is-active' : ''" >
                <a (click)="tab='ancestor'">
                    <span class="icon is-small"><i class="fas fa-hat-cowboy-side"></i>Ancesters</span>
                </a>
                </li>
        </ul>
    </div>
    <div  *ngIf="tab=='live'||!tab ">
        <app-detailgrid [type]="DetailType.live" [contact]="model.Contact"></app-detailgrid>
    </div>
    <div  *ngIf="tab=='dead' ">
        <app-detailgrid [type]="DetailType.dead" [contact]="model.Contact"></app-detailgrid>
    </div>
    <div *ngIf="tab=='ancestor'">
        <app-detailgrid [type]="DetailType.ancestor" [contact]="model.Contact"></app-detailgrid>
    </div>
</div>
</section>