<section class="container">
    <div class="tabs is-toggle is-fullwidth">
        <ul>
                <li [ngClass]="tab=='live'||!tab ?'is-active' : ''">
                <a (click)="tab='live'">
                    <span class="icon is-small"><i class="fas fa-user-friends"></i></span>
                    <span>Lives</span>
                </a>
                </li>
                <li [ngClass]="tab=='dead' ? 'is-active' : ''">
                <a (click)="tab='dead'">
                    <span class="icon is-small"><i class="fas fa-procedures"></i></span>
                    <span>Deads</span>
                </a>
                </li>
                <li [ngClass]="tab=='ancestor' ? 'is-active' : ''" >
                <a (click)="tab='ancestor'">
                    <span class="icon is-small"><i class="fas fa-hat-cowboy-side"></i></span>
                    <span>Ancestors</span>
                </a>
                </li>
        </ul>
    </div>
    <div  *ngIf="tab=='live'||!tab ">
        live
    </div>
    <div  *ngIf="tab=='dead' ">
            dead
    </div>
    <div *ngIf="tab=='ancestor' ">
            ancestors
    </div>
</section>