<section class="app-print">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title title">
                Print List
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                    <thead>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Print</th>
                        <th>Counts/(Live,Dead,Ancestor)</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of printList">
                            <td>{{contact.Code}}</td>
                            <td>{{contact.Name}}</td>
                            <td>{{contact.LastPrint}}</td>
                            <td>{{contact.IsPrinted==1?"All":contact.SinglePrint}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="card-footer">
            <button class="button is-primary" (click)="generatePrintData()">Create Print Files</button>
            <span class="card-footer-item">Clear All</span>
            <span class="card-footer-item" (click)="getPrints()">Refresh</span>
        </footer>
    </div>
    <a [href]="downloadLink" *ngIf="showDownload" [download]="downloadFileName"></a>
</section>