<section class="app-print">
        <div class="card">
                <header class="card-header">
                  <p class="card-header-title title">
                    Print List
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                        <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                                <thead>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Print</th>
                                    <th>Op</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ttt</td>
                                        <td>t0012</td>
                                        <td>2018-01-01</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>ttt</td>
                                            <td>t0012</td>
                                            <td>2018-01-01</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                                <td>ttt</td>
                                                <td>t0012</td>
                                                <td>2018-01-01</td>
                                                <td></td>
                                            </tr>
        
                            </tbody>   
                        </table>    
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Create Print Files</a>
                  <a href="#" class="card-footer-item">Clear All</a>
                  <a href="#" class="card-footer-item">Refresh</a>
                </footer>
              </div>

</section>  
